{% load static %}

{% if user.is_authenticated %}
   Welcome back, {{ user.username }}
{% else %}
<button> <a href="{% url 'login' %}">Please Login</a></button>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
    {% endfor %}
</ul>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1>Welcome to KU Polls</h1>

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}

            <li><h2>{{ question.question_text }}</h2></li>
        <br>
            <button><a href="{% url 'polls:results' question.id %}">See result</a></button>
            <button><a href="{% url 'polls:detail' question.id %}">Go to Vote</a></button>
        <br>   <br/>
        {% endfor %}

        </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if user.is_authenticated %}
<a href="{% url 'logout' %}"><button type="button">Logout</button></a> 
{% endif %}